@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/pf-beausans-pro");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: #0D0D0D;
  color: #0D0D0D;
  overflow: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body,
#root {
  height: 100%;
  /* overflow: hidden; */
}

#root {
  display: flex;
}

header {
  /* box-shadow: -5px 5px 20px 0px rgba(255, 255, 255, 0.09) inset;
  color: #0D0D0D; */
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-content {
  max-width: 1600px;
  padding: 12rem 15px;
  margin: 0 auto;
  /* padding: 0 15px */
}

.background-image-black {
  background-image: url("./images/darkbg.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.background-image-yellow {
  background-image: url("./images/yellowbg.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.game-name {
  display: block;
  position: relative;
}

.game-name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 20px;
  width: 20px;
  background: radial-gradient(farthest-side at bottom right, transparent 97%, rgb(13, 13, 13)) bottom left;
}

.game-name::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  height: 20px;
  width: 20px;
  background: radial-gradient(farthest-side at bottom right, transparent 97%, rgb(13, 13, 13)) bottom left;
}

.rounded_corner::before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  height: 20px;
  width: 20px;
  background: radial-gradient(farthest-side at top left, transparent 97%, #FFF100) bottom left;
}

.default_btn{
  cursor: pointer;
  color: rgb(13 13 13);
  width: 100%;
  height: 100%;
  padding: 0.5rem 2rem;
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  font-weight: 700;
  /* height: 2.75rem; */
  border: none;
  border-radius: 0.5rem;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  background: #FFF100;
  transition: all 0.3s ease;
}
.default_btn:hover{
  background: rgb(210, 199, 6);
  transition: all 0.3s ease;
}


.default_icon_btn{
  background: #FFF100;
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  cursor: pointer;
  border-radius: 10px;

  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  max-height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease;
  img{
    max-width: 48px;
  }
}

.default_icon_btn:hover{
  background: rgb(210, 199, 6);
  transition: all 0.3s ease;
}

@media screen and (max-width: 600px) {
  .default_icon_btn{
    border-radius: 7px;
  
    min-width: 38px;
    max-width: 38px;
    min-height: 38px;
    max-height: 38px;

    transition: all 0.3s ease;
    img{
      max-width: 38px;
    }
  }

}




.button_loading {
  color: #FFF100 !important;
  border: 1px solid #fff100;
  position: relative;
  background-color: #0D0D0D !important;

}
.button_loading:hover {
  background: #0D0D0D!important;
}
.button_loading::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 500px;
  position: absolute;
  background: rgb(13, 13, 13);
  animation: loadingAnimation 4s ease-out infinite;
}

@keyframes loadingAnimation {
  0% {
    top: -20%;
    left: -3%;
  }

  35% {
    top: -20%;
    left: 97%;
  }

  45% {
    top: 90%;
    left: 97%;
  }

  85% {
    top: 90%;
    left: -3%;
  }

  100% {
    top: -20%;
    left: -3%;
  }
}



.mob_burger{
  
}